body
{
    color: aqua;
    text-align: center;
    font-family: "Calibri";
}
#container
{
    width: 70%;
    padding: lem;
    border: 1px solidcolor #882626;
    margin: 0 auto;
}

#container n1
{
    font-size: 20px;
}